/*

We will use the ALTERNATIVE BOX MODEL

In the traditional box model, an element's size is determined by
the width and height of the content box COMBINED with the padding and border.

In the alternative box model, an element's size is determined by
the TOTAL size taken up by the box. The element's size considers
the size to include padding and border. The content box's size
is determined by that TOTAL size minus the size of padding.

*/

html {
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  border: 1px dashed red;
}
